# Python
__pycache__/
*.py[cod]
*.egg-info/
/dist/
build/
*.egg

# Virtual environment
venv/
.venv/
env/

# Instance / DB
instance/
*.db
!/dictionaries/database/*.db
!/dictionaries/editable/*.db
!/app/static/dist/
!/app/static/admin-dist/
*.sqlite3

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Migrations (keep structure, ignore pycache)
migrations/__pycache__/

# Deployment Scripts
update_podlearn.py

# YouTube Auth
youtube_cookies.txt
