fastapi>=0.115.0
uvicorn[standard]>=0.30.0
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
sqlalchemy==2.0.36
alembic
python-multipart
python-dotenv==1.1.0
# Utilities
yt-dlp
webvtt-py==0.5.1
# Japanese NLP
sudachipy
sudachidict_core
jamdict
jamdict-data
deep-translator==1.11.4
pykakasi
edge-tts
gTTS
pydub
requests
PySocks
google-generativeai
celery==5.4.0
redis==5.0.1
celery-sqlalchemy-scheduler
marshmallow
marshmallow-sqlalchemy
# Infrastructure
gunicorn
